/* navbar.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #1F2833;
    color: #C5C6C7;
    border-bottom: 2px solid #0B0C10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #66FCF1;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar .logo a:hover {
    color: #45A29E;
}

.navbar .menu {
    display: flex;
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .menu-item a {
    font-size: 1rem;
    color: #C5C6C7;
    text-decoration: none;
    padding: 10px 15px;
    border-bottom: 2px solid transparent;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.logout {
    cursor: pointer;
    font-size: 1rem;
    color: #C5C6C7;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.logout:hover {
    background-color: red;
    color: #ffffff;
}

.navbar .menu-item a:hover {
    background-color: #45A29E;
    color: #1F2833;
    border-color: #66FCF1;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

    .menu-item {
        flex-grow: 1;
        text-align: center;
    }

    .menu-item a {
        display: block;
        padding: 10px 0;
    }
}
