.navbar {
    position: fixed;
    top: 0;
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: 100%;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar .logo {
    font-size: 20px;
    font-weight: bold;
}

.navbar .menu {
    display: flex;
}

.navbar .menu-item {
    margin-left: 20px;
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }

    .navbar .menu {
        flex-direction: column;
        width: 100%;
    }

    .navbar .menu-item {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }
}